@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: "Baloo_Bhai";
  src: url("/font/BalooBhai-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}